[user]
	name = Jonathan Simmons
	email = jon@jsdev.co
[core]
	editor = sublime -n -w

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch

[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan